// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumborton h2 {
	color: magenta;
	font-size: 55px;
}

.jumbotron {
	background-image: url('http://www.interstellar-movie.com/images/interstellar-movie-chris-nolan.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 500px;

	
}

.movie, .actor {
	display: block;
	float: left;
	margin: 0 10px 80px 0;
	margin-bottom: 80px;
	width: 184px;
}

.movie:nth-child(5n + 6), .actor:nth-child(5n + 6) {
	margin: 0 0 80px 0;
}



